@font-face {
    font-family: "Luculent";
    src: url("static/luculent.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Luculent";
    background-color: black;
    color: white;
    font-size: 18px;
    display: flex;
    margin-left: 30%;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 0;
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {
    body {
        margin: 16px;
        margin-top: 30%;
        height: 100%;
        align-items: start;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    padding: 2px 0;
}

a:hover {
    background-color: white;
    color: black;
}

.title {
    display: flex;
    align-items: center;
    gap: 4px;
}

img {
    width: 20px;
    animation: emoji 0.5s forwards;
    animation-delay: 1.5s;
    transform: rotateY(90deg) rotateZ(90deg);
}

.typing {
    width: 16ch;
    animation: typing 1.5s steps(16), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes emoji {
    to {
        transform: rotateX(0);
    }
}