:root {
  --dark-1: hsl(0, 0%, 5%);
  --dark-2: hsl(0, 0%, 7%);
  --dark-3: hsl(0, 0%, 9%);
  --gray-1: hsl(0, 0%, 60%);
  --gray-2: hsl(0, 0%, 80%);
}

.gray-1 {
  color: var(--gray-1);
}

.gray-2 {
  color: var(--gray-2);
}

body {
  background-color: var(--dark-2);
  height: 100vh;
}

header {
  background-color: var(--dark-1);
  padding: 0.5rem;
}

header,
.links {
  gap: 0.5rem;
}

header .logo {
  font-size: 32px;
  font-weight: 700;
  padding: 0 0.5rem;
}

.link {
  transition: 0.2s;
}

header .link:first-child {
  margin: 0 0.5rem;
}

header .link:not(:first-child),
main .link {
  font-size: 20px;
  padding: 0.5rem;
}

.link:hover,
.active {
  background-color: var(--dark-3);
  box-shadow: 0px 0px 5px black;
}

.link:active {
  background-color: var(--dark-2);
  box-shadow: none;
}

header .link:last-child {
  margin-left: auto;
}

main {
  height: calc(100% - 56px);
}

.h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.items {
  gap: 0.3rem;
}

.item {
  font-size: 20px;
  gap: 0.3rem;
}

.item .link {
  padding: 0.3rem;
}

.links {
  margin-top: 0.5rem;
}
